* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: lightcyan;
}
.title {
  height: 100px;
  background-color: lightblue;
  padding: 25px;
}
h1 {
  text-align: center;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}
.container {
  display: flex;
  height: 40vh;
}
.item1 {
  flex: 1;

  display: flex;
  flex-direction: column;
}
.item2 {
  flex: 1;

  display: flex;
}
.item3 {
  flex: 1;
  border: 1px solid lightblue;
  margin: 5px;
}
.photo {
  flex: 1 1 0%;
  border: 1px solid lightskyblue;
  height: 150px;
  width: 200px;
  border-radius: 50%;
  margin: 30%;
  background-color: grey;
}

.profile-container {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
